/* Configurações das tags gerais do site */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 { 
  padding-top: 20px;
}

h2{
  padding-top: 30px;
  margin-left: 15px;
  color: #ad8383;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

p {
  text-align: center;
  padding: 15px;
  width: 80%;
  color: #ad8383;
}
@font-face {
  font-family: "Rale";
  src: url(../Fontes/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

/* Configurações do video como Background */
video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Configurações da Barra de navegação */
.barradenav {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 90%;
}

.barradenav a {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  display: block;
  color: #ad8383;
  text-align: center;
  padding: 50px;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Rale"
}

.barradenav a:hover {
  opacity: 75%;
  color: rgb(56, 21, 21);
  transform: scale(1.15);
  border-bottom: solid rgb(58, 16, 16);
}

/* Configurações da Logo */
#Logo{
  float: left;
  padding-left: 20px;
}

/* Configurações do conteúdo */
.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  z-index: 1;
}
 
.homepage h1 {
  font-size: 4em;
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-family: "Rale";
}

.homepage p {
  font-size: 1.5em;
  margin: 0;
  text-shadow: 1px 1px #000000;
}

/* Configurações do Rodapé e Mapa*/

.mapa {
  padding: 15px 50px;
  margin: 10px;
}

/* Configurações da área de produtos */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.container h1 {
  color: #fff;
}

.product {
  display: inline-block;
  margin: 20px;
  background-color: #4d3737;
  border: 1px solid #3b2929;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  padding-left: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.product h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.product p {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product button:hover {
  background-color: #3b2929;
  color: #fff;
}

textarea {
  font-size: "Kalam2";
  background-color: #000000;
  color: #805b5b;
  text-align: center;
  border: none;
  width: 300px;
  height: 200px;
  resize: none;
}


/* configurações da página contatos e do formulário */
.contatos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.info-contatos, .formulario-contatos {
  width: 450px;
  margin: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #999;
  background-color: #000000;
  opacity: 95%;
}

.info-contatos h2, .formulario-contatos h2 {
  margin-top: 0;
  text-align: center;
  color: white;
}

.info-contatos p {
  width: 100%;
  text-align: center;
  padding: 2px;
}

.formulario-contatos label {
  display: block;
  margin-bottom: 5px;
  color: #c9c1c1;
  text-align: center;
  padding-top: 5px;
}

.formulario-contatos input, .formulario-contatos textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.formulario-contatos button {
  background-color: #2b2828;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-left: 150px;
}

/* configurações da página inicial*/

.apresentacao {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apresentacao h2 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px #000;
}

/* Estilos da seção de produtos */
.produtos {
  background-color: #ffffff;
  opacity: 80%;
  padding: 20px;
}
.produto {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produto img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.produto a:hover {
  text-transform: scale(1.13);
}

.produtos h1 {
  text-align: center;
}

.produto h3 {
  margin: 0;
  font-size: 24px;
}
/* Estilos dos depoimentos */
.depoimentos {
  padding: 20px;
  text-align: center;
}

.depoimentos h2 {
  color: #fff;
  font-size: 2em;
}

.depoimento {
  margin-bottom: 20px;
}
.depoimento p {
  font-size: 18px;
  font-style: italic;
  margin: 0;
  width: 100%;
}
.depoimento span {
  font-weight: bold;
  color: #fff;
}

/* Estilos da seção de Galeria */
.galeria {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 35px;
}


.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.galeria img:hover {
  transform: scale(1.05);
}

.galeria .foto {
  width: 300px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.galeria .titulo {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.galeria h2 a {
  text-decoration: none;
  color: #2b2828;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .galeria .foto {
    width: calc(50% - 40px);
  }
}
@media (max-width: 480px) {
  .galeria .foto {
    width: 100%;
    margin: 10px;
  }
}

/* Estilos do Footer */
		/* Estilos para o footer */
    footer {
      background-color: #000000;
      color: #fff;
      padding: 10px 0;
    }
    
    .footer-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .footer-info img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    
    @media (max-width: 767px) {
      .footer-info {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .footer-info img {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
    