/* Configurações das tags gerais do site */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 { 
  padding-top: 20px;
}

h2{
  padding-top: 30px;
  margin-left: 15px;
  color: #ad8383;
  font-size: 20px;
  text-decoration: none;
}

p {
  text-align: center;
  padding: 15px;
  width: 80%;
  color: #ad8383;
}

/* Configurações do video como Background */
video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Configurações da Barra de navegação */
.barradenav {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 90%;
}

.barradenav a {
  margin-top: 15px;
  float: left;
  display: block;
  color: #ad8383;
  text-align: center;
  padding: 50px;
  border-radius: 25px;
  text-decoration: none;
}

.barradenav a:hover {
  background-color: #380707;
  opacity: 75%;
  color: rgb(255, 255, 255);
}

/* Configurações da Logo */
#Logo{
  float: left;
  padding-left: 20px;
}

/* Configurações do conteúdo */
.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  z-index: 1;
}
 
.homepage h1 {
  font-size: 4em;
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

.homepage p {
  font-size: 1.5em;
  margin: 0;
  text-shadow: 1px 1px #000000;
}

/* Configurações do Rodapé e Mapa*/
footer {
  width: 100%;
  text-align: center;
  background-color: #000000;
  opacity: 75%;
  color: #fff;
  padding: 10px 0;
}

footer ul li {
  width: 100%;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  color: #805b5b;
  list-style-type: none;
}

.Rodape{
  width: 100%;
  height: 350px;
  background-color: #000000;
}

.mapa {
  padding: 15px 50px;
  margin: 10px;
}

/* Configurações da área de produtos */
.container-produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box-produto {
  border-radius: 40px;
  width: 300px;
  height: 500px;
  background-color: #000000;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px #999;
}

.box-produto img {
  width: 200px;
  height: 200px;
}

.box-produto p {
  text-align: center;
  width: 100%;
}

.box-produto h2 {
  text-align: center;
  color:#fff;
}

textarea {
  background-color: #000000;
  color: #805b5b;
  text-align: center;
  border: none;
  width: 300px;
  height: 200px;
  resize: none;
}


/* Estilos dos contatos e do formulário */
.contatos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.info-contatos, .contact-form {
  width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px #999;
}

.contact-info h2, .contact-form h2 {
  margin-top: 0;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
