/* Configurações das tags gerais do site */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* altura do footer */
}
main {
    min-height: 100%;
}
h1 { 
  padding-top: 20px;
}
h2{
  padding-top: 30px;
  margin-left: 15px;
  color: #ad8383;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
p {
  text-align: center;
  padding: 15px;
  width: 80%;
  color: #ad8383;
}

/* Configurações do video como Background */
video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Configurações da Barra de navegação */
.barradenav {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 90%;
  }
.barradenav a {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    display: block;
    color: #ad8383;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Rale"
}
.barradenav a:hover {
    opacity: 75%;
    color: rgb(56, 21, 21);
    transform: scale(1.15);
    border-bottom: solid rgb(58, 16, 16);
}

/* Configurações da Logo */
#Logo{
    float: left;
    padding-left: 20px;
  }

/* configurações das sessões da página inicial*/
/* Estilos da seção de apresentação*/
.apresentacao {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apresentacao h2 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px #000;
}

/* Estilos da seção de produtos */
.produtos {
  background-color: #ffffff;
  opacity: 80%;
  padding: 20px;
  text-align: center;
}

/* Estilos da seção de Galeria */
.galeria {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 35px;
}
.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.galeria img:hover {
  transform: scale(1.05);
}
.galeria .foto {
  width: 300px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.galeria .titulo {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
.galeria h2 a {
  text-decoration: none;
  color: #2b2828;
}
@media (max-width: 768px) {
  .galeria .foto {
    width: calc(50% - 40px);
  }
}
@media (max-width: 480px) {
  .galeria .foto {
    width: 100%;
    margin: 10px;
  }
}

/* Estilos dos depoimentos */
.depoimentos {
  padding: 20px;
  text-align: center;
}
.depoimentos h2 {
  color: #fff;
  font-size: 2em;
}
.depoimento {
  margin-bottom: 20px;
}
.depoimento p {
  font-size: 18px;
  font-style: italic;
  margin: 0;
  padding-right: 0;
  width: 100%;
}
.depoimento span {
  font-weight: bold;
  color: #fff;
}

/* Configurações do conteúdo da página Sobre nós */
.sobre {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  z-index: 1;
}
.sobre h1 {
  font-size: 4em;
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-family: "Rale";
}
.sobre p {
  font-size: 1.5em;
  margin: 0;
  text-shadow: 1px 1px #000000;
}

/* Configurações da página de Cardapio  */
.cardapio {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}
.cardapio h1 {
  color: #fff;
}
.produto {
  display: inline-block;
  margin: 20px;
  background-color: #291515;
  border: 1px solid #3b2929;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.produto:hover {
  transform: scale(1.05);
}
.produto img {
  padding-left: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.produto h2 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.produto h3 {
  color: #fff;
}
.produto p {
  width: 90%;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.produto button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.produto button:hover {
  background-color: #3b2929;
  color: #fff;
}

/* configurações da página contatos e do formulário */
.contatos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.info-contatos, .formulario-contatos {
  width: 450px;
  margin: 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #999;
  background-color: #000000;
  opacity: 95%;
}
.info-contatos h2, .formulario-contatos h2 {
  margin-top: 0;
  text-align: center;
  color: white;
}
.info-contatos p {
  width: 100%;
  text-align: center;
  padding: 2px;
}
.formulario-contatos label {
  display: block;
  margin-bottom: 5px;
  color: #c9c1c1;
  text-align: center;
  padding-top: 5px;
}
.formulario-contatos input, .formulario-contatos textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.formulario-contatos button {
  background-color: #2b2828;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-left: 150px;
}

/* Configurações do footer */
footer {
  background-color: #fafafa;
  padding: 30px 0;
  height: 100%;
}
footer h3 {
  color: #343A40;
  font-weight: bold;
  text-align: center;
}
footer ul li {
  color: #6C757D;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  text-align: center;
}
footer ul li i {
  color: #421515;
}
.mapa{
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 150px;
}
.mapa iframe {
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  position: absolute;
}

.email-rodape::before {
  content: "\f0e0";
}
.telefone-rodape::before {
  content: "\f095";
}
.endereco-rodape::before {
  content: "\f3c5";
}

