      /* Estilos CSS para a página */
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }
      /* Barra de navegação */
      .barradenav {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 90%;
      }

      video {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -10;
      }
      #Logo{
        float: left;
        padding-left: 20px;
      }

      .barradenav a {
        margin-top: 15px;
        float: left;
        display: block;
        color: #ad8383;
        text-align: center;
        padding: 50px;
        border-radius: 25px;
        text-decoration: none;
      }
      .barradenav a:hover {
        background-color: #380707;
        opacity: 75%;
        color: rgb(255, 255, 255);
      }

      /* Plano de fundo da página inicial */
      .homepage {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000000;
        z-index: 1;
      }
 
      .homepage h1 {
        font-size: 4em;
        margin: 0;
        color: #ffffff;
        text-shadow: 1px 1px #000000;

      }
      .homepage p {
        font-size: 1.5em;
        margin: 0;
        text-shadow: 1px 1px #000000;
      }

      .Rodape{
        width: 100%;
        height: 350px;
        background-color: #000000;
      }

      h1 { 
        padding-top: 20px;
      }

      h2{
        padding-top: 30px;
        margin-left: 15px;
        color: #ad8383;
        font-size: 20px;
        text-decoration: none;
      }
      
      p {
        text-align: center;
        padding: 15px;
        width: 80%;
        color: #ad8383;
      }

      footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #000000;
        opacity: 75%;
        color: #fff;
        padding: 10px 0;
      }
      
      .mapa {
        padding: 15px 50px;
        margin: 10px;
      }
      /* Configuração Rodapé */
      footer {
        background-color: #000000;
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-decoration: none;
      }

      footer p {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      footer p a {
        text-decoration: none;
        color: #805b5b;
      }

      /* Estilos dos produtos */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.product-box {
  width: 450px;
  height: 500px;
  background-color: #2b2525;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px #999;
}

.product-box img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}